<app-heading1>{{ "Katalógus" }}</app-heading1>

<div style="overflow: scroll; height: 60vh">
  <app-explicit-table [data]="catalogItems">
    <ng-container>
      <ng-template #headers>
        <th>{{ "ID" }}</th>
        <th>{{ "Név" }}</th>
        <th>{{ "Mennyiség" }}</th>
        <th>{{ "Ár (HUF)" }}</th>
        <th>{{ "Szárazanyag (kg)" }}</th>
        <th>{{ "Nyersfehérje" }}</th>
        <th>{{ "MFE" }}</th>
        <th>{{ "MFN" }}</th>
        <th>{{ "NEM" }}</th>
        <th>{{ "NEM" }}</th>
        <th>{{ "NEM" }}</th>
      </ng-template>
      <ng-template #rows let-row>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.quantity }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.dryMatter }}</td>
        <td>{{ row.rawProtein }}</td>
        <td>{{ row.MFE }}</td>
        <td>{{ row.MFN }}</td>
        <td>{{ row.NEM }}</td>
        <td>{{ row.NEM }}</td>
        <td>{{ row.NEM }}</td>
      </ng-template>
    </ng-container>
  </app-explicit-table>
</div>
