<div class="main--layout">
  <app-header (toggleSidenav)="drawer.toggle()"></app-header>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <a [routerLink]="['katalogus']">Katalógus</a>
      <a [routerLink]="['marha-csoportok']">Marha csoportok</a>
      <a [routerLink]="['szuksegletek']">Szükségletek</a>
      <a [routerLink]="['adag-listak']">Adag listák</a>
    </mat-drawer>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
