<div class="main--layout">
  <div style="height: 100px">
    <app-header (toggleSidenav)="drawer.toggle()"></app-header>
  </div>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <a [routerLink]="['katalogus']">
        <app-heading2>Katalógus</app-heading2>
      </a>
      <a [routerLink]="['marha-csoportok']">
        <app-heading2>Marha csoportok</app-heading2>
      </a>
      <a [routerLink]="['szuksegletek']">
        <app-heading2>Szükségletek</app-heading2>
      </a>
      <a [routerLink]="['adag-listak']">
        <app-heading2>Adag listák</app-heading2>
      </a>
    </mat-drawer>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
